<article>
  <h2 id="input">編集</h2>
    <%= form_with model: @post, method: :put do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="contaner">
      
      <div class="new-post">
        <%= f.label :date, "日付：" %>
        <%= f.date_field :date %>
      </div>
      
      <div class="new-post">
        <%= f.label "収支：" %>
        <%= f.radio_button :type, 0 %>
        <%= f.label :type, "収入", {value: :income} %>
        <%= f.radio_button :type, 1 %>
        <%= f.label :type, "支出", {value: :expence} %>
      </div>
  
      <div class="new-post">
        <%= f.label :category_id, "カテゴリー：" %>
        <%= f.collection_select :category_id, @current_categories, :id, :name, {
                 prompt: "選択してください"}, class: "new-post-category" %>
      </div>
      
      <div class="new-post">
        <%= f.label :amount, "金額：" %>
        <%= f.number_field :amount, placeholder: "金額を記入" %>円
      </div>
      
      <div class="new-post post-note">
        <%= f.label :note, "メモ：" %>
        <%= f.text_area :note, placeholder: "買ったものを記入" %>
      </div>
      <div id="post_btn" class="btn btn-primary btn-block">保存する</div>
    </div>
    <% end %>
</article>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
  $(function() {
    $('#post_btn').on('click', function() {
      var token = $('input[name="authenticity_token"]').val();
      var date = $('#post_date').val();
      var type0 = $('#post_type_0').prop('checked');
      var type1 = $('#post_type_1').prop('checked');
      var category_id = $('#post_category_id').val();
      var amount = $('#post_amount').val();
      var note =$('#post_note').val();
      
      var data = {
        authenticity_token: token,
        date: date,
        type: type0 == true ? 0 : 1,
        category_id: category_id,
        amount: amount,
        note: note
      };
      
      $.ajax({
        type: 'PUT',
        url: '/posts/<%= @post.id %>',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json',
        success: function(response) {
            location.href = '<%= posts_path %>';
        },
        error:  function(response) {
           alert(response.responseJSON.join('\n'));
        }
      })
    })
  });
</script>

