<h2 id="graph">グラフ</h2>
        <section>
          <% if @posts.type == 1 %>
            <% data = @posts.group(:category).sum(:amount).map{|k, v| [k.name, v]}.to_h %>
            <%= pie_chart data %>
          <% end %>
        </section>

<table>
  <tbody　class='new_post'>
    <hr>
    <tr>
      <td>
        <span>投稿日</span>
      </td>
      <td><%= post.date %></td>
    </tr>
    
    <tr>
      <td>
        <span>収支</span>
      </td>
      <th>
        <% if (post.type == 0) %>
        収入
        <% elsif (post.type == 1) %>
        支出 
        <% end %>
      </th>
    </tr>
    
    <tr id='book-#{ book.id }'>
      <td>
        <span>カテゴリー:</span>
      </td>
      <th>
        <%= post.category.name %>
      </th>
    </tr>
    
    <tr>
      <td>
        <span>金額</span>
      </td>
      <th>
        <%= post.amount %>
      </th>
    </tr>
    
    <tr>
      <td>
        <span>メモ</span>
      </td>
      <th>
        <%= post.note %>
      </th>
    </tr>
          
  </tbody>
</table>
  <% if post.user == current_user %>
            <%= link_to '削除', post, method: :delete, data:{ 
              confirm: '本当に削除してもよろしいですか？'}, 
              class: 'btn-sm' 'btn-danger'%>
  <% end %>
<% end %>