<% @posts.each do |post| %>
    <div>
      <h4>
        <%= post.user.name %>
      </h4>
    </div>
      
<table>
  <tbody　class='new_post'>
    <hr>
   <tr>
      <td>
        <span>投稿日</span>
      </td>
      <td><%= post.date %></td>
    </tr>
    
    <tr>
      <td>
        <span>収支</span>
      </td>
      <th>
        <%= post.type %>
      </th>
    </tr>
    
    <tr id='book-#{ book.id }'>
      <td>
        <span>カテゴリー:</span>
      </td>
      <th>
        <%= post.category.name %>
      </th>
    </tr>
    
    <tr>
      <td>
        <span>金額</span>
      </td>
      <th>
        <%= post.amount %>
      </th>
    </tr>
    
    <tr>
      <td>
        <span>メモ</span>
      </td>
      <th>
        <%= post.note %>
      </th>
    </tr>
    
    <tr>
     <td>
          <% if post.user == current_user %>
            <%= link_to '削除', post, method: :delete, data:{ 
              confirm: '本当に削除してもよろしいですか？'}, 
              class: 'btn-sm' 'btn-danger'%>
          <% end %>
     </td>
    </tr>
　　</tr>
  </tbody>
</table>
<% end %>