
<article>
  <h2 id="input">入力</h2>
    <%= form_with model: @post, local: true do |f| %>
      <div>
        <%= f.label :date, "日付" %>
        <%= f.date_field :date %>
      </div>
      
      <div>
        <%= f.label "収支" %>
        <br>
        <%= f.radio_button :type, 0 %>
        <%= f.label :type, "収入", {value: :income} %>
        <%= f.radio_button :type, 1 %>
        <%= f.label :type, "支出", {value: :expence} %>
      </div>
  
      <div>
        <%= f.label :category_id, "カテゴリー"  %>
        <br>
        <% if user_signed_in? && current_user.id == @category.user_id %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {
                 prompt: "選択してください"}, class: "form-control" %>
        <% end %>
      </div>
      
      <div>
        <%= f.label :amount, "金額" %>
        <%= f.number_field :amount, placeholder: "金額を記入" %>円
        <br>
        <%= f.label :note, "メモ" %>
        <%= f.text_area :note, placeholder: "買ったものを記入" %>
      </div>
      <%= f.submit '投稿', id: :post_btn, class: 'btn btn-primary btn-block' %>
    <% end %>
</article>


