
  <div>
    <%= form_with model: @category, method: :put do |f| %>
    　<%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :name, 'カテゴリー名' %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
      <br> 
      <div id="categories_btn" class="btn btn-primary btn-block">保存</div>
    <% end %>
    <%= link_to "戻る", :back %>
  </div>
  
   <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
  $(function() {
    $('#categories_btn').on('click', function() {
      var token = $('input[name="authenticity_token"]').val();
      var name = $('#category_name').val();
      
      var data = {
        authenticity_token: token,
        name: name
      };
      
      $.ajax({
        type: 'PUT',
        url: '/categories/<%= @category.id %>',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json',
        success: function(response) {
            location.href = '<%= categories_path %>';
        },
        error:  function(response) {
           alert(response.responseJSON.join('\n'));
        }
      })
    })
  });
</script>
