
  <div class="category_entry">
    <%= form_with model: @category do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :name, '追加したいカテゴリー名を入力' %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <div id="categories_btn" class="btn btn-primary btn-block">追加</div>
    <% end %>
  </div>
  
  <div class="category_main">
    <table class='table'>
      <thead>
        <tr>
          <h3>
            カテゴリー名リスト
          </h3>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <% if user_signed_in? && current_user.id == category.user_id %>
          <tr>
            <td>
              <%= category.name %>
            </td>
            <td>
              <%= link_to '編集', edit_category_path(category), class: 'btn-sm btn-primary' %>
            </td>
            <td>
              <%= link_to '削除', category_path(category), method: :delete, data: 
              {confirm: '本当に削除しますか？'}, class: 'btn-sm btn-danger' %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
  $(function() {
    $('#categories_btn').on('click', function() {
      var token = $('input[name="authenticity_token"]').val();
      var name = $('#category_name').val();
      
      var data = {
        authenticity_token: token,
        name: name
      };
      
      $.ajax({
        type: 'POST',
        url: '/categories',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json',
        success: function(response) {
            location.href = '<%= categories_path %>';
        },
        error:  function(response) {
           alert(response.responseJSON.join('\n'));
        }
      })
    })
  });
</script>

