
  <div class="category_entry">
    <%= form_with model: @category, remote: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :name, '追加したいカテゴリー名を入力' %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.submit '追加', class: 'btn btn-primary btn-block', id: :categories_btn %>
    <% end %>
  </div>
  
  <div class="category_main">
    <table class='table'>
      <thead>
        <tr>
          <h3>
            カテゴリー名リスト
          </h3>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <% if user_signed_in? && current_user.id == category.user_id %>
          <tr>
            <td>
              <%= category.name %>
            </td>
            <td>
              <%= link_to '編集', edit_category_path(category), class: 'btn-sm btn-primary' %>
            </td>
            <td>
              <%= link_to '削除', category_path(category), method: :delete, data: 
              {confirm: '本当に削除しますか？'}, class: 'btn-sm btn-danger' %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
